
body {
  background-image: linear-gradient(to bottom, rgb(245, 156, 176), rgb(228, 93, 138));
}

#screen {
margin:auto;
text-align: center;
}

#board {
  width: 440px;
  height: 440px;
  border: 10px solid rgb(249, 201, 212);
  background-color: rgb(84, 12, 24);
  position: relative;
  margin: auto;
  overflow: hidden;
}

#scoreCounter, #highScore {
  color: rgb(84, 12, 24);
  position: relative;
  text-align: center
}

#restart {
  color: rgb(84, 12, 24);
  position: relative;
  text-align: center;
  margin: auto;
  vertical-align: auto;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: green;
  z-index: 2;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
  background-color: red;
  z-index: 1;
}